<p id="notice"><%= notice %></p>
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <table class='table is-fullwidth is-striped'>

        <thead>
          <tr>
            <th>Purchaser name</th>
            <th>Item description</th>
            <th>Item price</th>
            <th>Purchase count</th>
            <th>Merchant address</th>
            <th>Merchant name</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% result = 0 %>
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.purchaser_name %></td>
              <td><%= order.item_description %></td>
              <td><%= order.item_price %></td>
              <td><%= order.purchase_count %></td>
              <td><%= order.merchant_address %></td>
              <td><%= order.merchant_name %></td>

              <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% result = result + order.item_price * order.purchase_count %>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3" class="title">Total: <%= result %></td>
            <td></td>
            <td colspan="3"></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>
<br>

<section class="section">
  <div class="container">
    <div class="columns is-centered">

<%= form_with(model: @order, local: true) do |form| %>
<% if @order.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

  <ul>
    <% order.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form.file_field :archive %>
<br>

<div class="actions" >
  <%= form.button :submit, class: 'button is-info'  %>
</div>
<br>
<br>
<%= link_to 'Delete All Items', home_trash_em_all_path, class:'button is-danger pulled rigth', data: { confirm: 'Are you sure?' }%>
<% end %>
    </div>
  </div>
</section>
